body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.tabList {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tabItem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.activeTab {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.helloThere {
  background-color: blue;
}
